<div class='vw-100 vh-100 d-flex align-items-center justify-content-center'>
  <h1>COVID Resources</h1>
  <p class='lead'>Welcome to the Covid Resources page of the Youth Action Network of Memphis!</p>
  <hr class='my-4' />
</div>

<div>
  <p>"bored_button.png"</p><%= image_tag("create_a_schedule_paper.png") %>
</div>
