<div>
  <h1>Next Steps</h1>
  <p class='lead'>Next Steps from the Youth Action Summit: Responding to COVID-19</p>
  <hr class='my-4' />
</div>
<div>
  <ol class="next-steps">
    <li>Share all the posts that were made today and help make our impact  BIGGER. #VYAS2020</li>
    <li>
      Go to <a href="https://bridgesusa.org/youth-programs/" target="_blank">bridgesusa.org/youth-programs</a>
      <p class="ml-5">- Apply to Shelby County Youth Council!</p>
      <p class="ml-5">- Apply to Bridge Builders CHANGE!</p>
    </li>
    <li>Do this again! On a NATIONAL Scale. Attend April 23rd, National Youth Organizing Conference.</li>
    <li>Do you think we should host another one of these? Would you be willing to help?</li>
  </ol>
</div>
