<div>
  <h1>Next Steps</h1>
  <p class="lead">Next Steps from the Youth Action Summit: Responding to COVID-19</p>
  <hr class="my-4" />
</div>
<div>
  <h3>Ways You Can Continue to Take Action!</h3>
  <ol class="next-steps">
    <li>
      <p>Share all the posts that were made today and help make our impact  BIGGER.</p>
      <p>#VYAS2020 #901StayHome</p>
      <p>
        <a href="https://www.instagram.com/bridgesusa/" target="_blank">@bridgesusa </a>
        <a href="https://www.instagram.com/bb.change/" target="_blank">@bb.change </a>
        <a href="https://www.instagram.com/scyc901/" target="_blank">@scyc901</a>
      </p>
    </li>
    <li><a href="https://drive.google.com/a/bridgesusa.org/file/d/11sJZOFyvFBEAaUPKpb4b_j6uTM8oPr6t/view?usp=sharing" target="_blank">Here</a>’s the beautiful image to represent the summit that Anna Osias created! Post it and tell your experience at the summit!</li>
    <li>
      Apply to be a leader in these organizations!
      <p class="ml-5">- <a href="https://bridgesusa.org/youth-programs/additional-leadership-opportunities/shelby-county-youth-council/" target="_blank">Shelby County Youth Council</a></p>
      <p class="ml-5">- <a href="https://bridgesusa.org/youth-programs/bridge-builders-change/" target="_blank">Bridge Builders CHANGE Fellowship</a></p>
    </li>
    <li>If you attended the Youth Action Summit, please fill out our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeg-N_aaJJGQiL6wEjG1hAcTQHLckokE4EQCFQh8T1l6r1RPg/viewform" target="_blank">feedback form</a>!</li>
  </ol>
  <br />
  <h3>How you can continue supporting all the amazing "Take Action" projects!</h3>
  <ol class="next-steps">
    <li>Help spread the word about THE NEW Youth Action 901 Website! <a href="http://www.youthaction901.com/">This website</a> is a resource page created specifically by and for youth during COVID-19! Share what resources you think are most important and help us make sure all youth know about these resources.</a></li>
    <li>Interested in attending a space for youth to meet up, talk and just get things off our chest. Join us for the next “Youth in Reality! Vents and Thoughts.” Fill out <a href="https://forms.gle/KiXKC1SmVqxcdE5d8">this form</a> so you can get an update for the next meeting!</li>
    <li>Help spread the word and donate to <a href="www.Undocufund.com" target="_blank">Undocufund</a>, COVID-19 Relief Fund for Undocumented Workers in the Mid-South.</li>
    <li>Want to become a virtual reading tutor volunteer with Book Nook? Contact <a href="mailto:ben@booknooklearning.com" target="_blank">Ben Koshland</a> about becoming a volunteer!</li>
    <li>Stay updated with what’s happening within our Juvenile Justice system during COVID-19. Follow <a href="https://justcity.org/" target="_blank">Just City</a> and the <a href="https://www.facebook.com/juvenilejusticeconsortium/" target="_blank">Countywide Juvenile Justice Consortium</a> to hear the latest on what’s happening and find out how you can support!</li>
  </ol>
</div>
