<div>
  <h1>Next Steps</h1>
  <p class='lead'>Next Steps from the Youth Action Summit: Responding to COVID-19</p>
  <hr class='my-4' />
</div>
<div>
  <ol class="next-steps">
    <li>
      <p>Share all the posts that were made today and help make our impact  BIGGER.</p>
      <p>#VYAS2020 #901StayHome</p>
      <p>
        <a href="https://www.instagram.com/bridgesusa/" target="_blank">@bridgesusa </a>
        <a href="https://www.instagram.com/bb.change/" target="_blank">@bb.change </a>
        <a href="https://www.instagram.com/scyc901/" target="_blank">@scyc901</a>
      </p>
    </li>
    <li>
      Go to <a href="https://bridgesusa.org/youth-programs/" target="_blank">bridgesusa.org/youth-programs</a>
      <p class="ml-5">- <a href="https://bridgesusa.org/youth-programs/additional-leadership-opportunities/shelby-county-youth-council/" target="_blank">Apply</a> to Shelby County Youth Council!</p>
      <p class="ml-5">- <a href="https://bridgesusa.org/youth-programs/bridge-builders-change/how-to-apply/" target="_blank">Apply</a> to Bridge Builders CHANGE!</p>
    </li>
    <li>
      <p>Do this again! On a NATIONAL Scale. Attend April 23rd, National Youth Organizing Conference.</p>
      <p><a href="https://zoom.us/meeting/register/tZwsdeCtpjgrf754YEPFX6TrGklVt41g2w" target="_blank">Register today!</a></p>
    </li>
    <li>Interested in another “Youth in Reality! Vents and Thoughts” meeting? Fill out <a href="https://forms.gle/KiXKC1SmVqxcdE5d8" target="_blank">this form</a> so you can get an update for the next meeting!</li>
    <li>Re-post <a href="https://drive.google.com/a/bridgesusa.org/file/d/11sJZOFyvFBEAaUPKpb4b_j6uTM8oPr6t/view?usp=sharing" target="_blank">this image</a> by Anna Osias</li>
    <li>If you attended the Youth Action Summit, please fill out our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeg-N_aaJJGQiL6wEjG1hAcTQHLckokE4EQCFQh8T1l6r1RPg/viewform" target="_blank">feedback form</a>!</li>
  </ol>
</div>
