<div class="pb-4">
  <h1>Employment & Money</h1>
</div>

<%= render partial: "resources", locals: { resources: @resources } %>

<div class="text-center email-us">
  <h4>Have a suggestion? Email us at: <a href="mailto:educationjustice@bridgesusa.org" target="_blank">educationjustice@bridgesusa.org</a></h4>
</div>