<div class="pb-4">
  <span>
    <button type="button" class="btn btn-light toggle-language show-page">
      <a href="/education">In English</a>
    </button>
  </span>
  <h1>Ayuda escolar</h1>
</div>

<%= render partial: "es_resources", locals: { resources: @resources } %>

<div class="text-center email-us">
  <h4>
    Quieres contribuir? Contáctenos: <a href="mailto:educationjustice@bridgesusa.org" target="_blank">educationjustice@bridgesusa.org</a></h4>
</div>