<div class="pb-4">
  <span>
    <button type="button" class="btn btn-light pull-right" style="margin-top: 0.5em;">
      <a href="/unsafe_home/es">en español</a>
    </button>
  </span>
  <h1>Sexual Violence/Unsafe Home Environment</h1>
</div>

<%= render partial: "resources", locals: { resources: @resources } %>

<div class="text-center email-us">
  <h4>Have a suggestion? Email us at: <a href="mailto:educationjustice@bridgesusa.org" target="_blank">educationjustice@bridgesusa.org</a></h4>
</div>