// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ------------------ GLOBAL VARIABLES ------------------ */
@font-face {
  font-family: "Poppins";
  src:font-url("poppins/Poppins-ExtraLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src:font-url("poppins/Poppins-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src:font-url("poppins/Poppins-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src:font-url("poppins/Poppins-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src:font-url("poppins/Poppins-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src:font-url("poppins/Poppins-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src:font-url("poppins/Poppins-ExtraBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src:font-url("poppins/Poppins-Black.otf");
  font-weight: 900;
}

* { font-family: "Poppins", "Helvetica", sans-serif }

$bb-green: #76B700 !default;
$bb-blue: #3B7CCA !default;
$dark-gray: #2B2D2F !default;

/* ------------------ MAIN CONTENT ------------------ */

body {
  margin: 0;
  height: 100%;
  width: 100%;
  h1 { font-weight: 600; }
  h4 {
    padding-top: .2em;
    line-height: 1.5;
  }
  a {
    color: $bb-blue;
    font-weight: 400;
  }
  p {
    font-weight: 300;
    line-height: 1.5;
  }
  span {
    font-weight: 200;
    line-height: 1.5;
  }

  .btn {
    text-decoration: none;
    display: inline-block;
    letter-spacing: .1em;
    margin: 2em auto;
    font-weight: 300;
    color: $bb-blue;
    border: 2px solid $bb-blue;
    padding: .75em 1em;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: all 0.2s;
    &:hover {
      background-color: $bb-blue;
      color: #FFF;
    }
  }

  .contentContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .yanNavbar {
      padding: 1.25em 3em;
      display: flex;
      background-color: $bb-green;
      color: #FFFFFF;
      & > .siteTitle {
        float: left;
        max-width: 22%;
        & > a {
          letter-spacing: 0.05em;
          font-weight: 600;
          line-height: 1.2em;
          font-size: 1.5em;
          text-decoration: none;
          color: #FFFFFF;
          transition: all .3s;
          &:hover {
            color: $dark-gray;
          }
        }
      }
      ul {
        list-style-type: none;
        margin-left: auto;
        padding-top: 1em;
        li {
          float: right;
          a {
            text-decoration: none;
            display: inline-block;
            font-size: 1.2em;
            font-weight: 300;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
            vertical-align: bottom;
            padding-left: 2em;
            letter-spacing: 0.15em;
            transition: all .3s;
            &:hover {
              color: $dark-gray;
            }
          }
        }
      }
    }
  
    .mainContent {
      padding: 2em 10em;
      flex-grow: 1;
      p.lead {
        font-weight: 200;
      }
      button.toggle-language {
        float: right;
        a {
          font-weight: 500 !important;
        }
        &:hover {
          a {
            color: white;
            text-decoration: none;
          }
        }
        &.show-page {
          margin-top: .5em;
        }
      }
  
      .form-check {
        & > input { transform: scale(1.25); }
        & > label { 
          margin-left: 1em;
          font-size: 1.5em;
          font-weight: 500; 
        }
      }
      ol.next-steps {
        li {
          font-weight: 200;
          margin-bottom: 1.25em;
          font-size: 1.25em;
          padding-left: 1em;
          margin-left: -1em;

          & > p {
            font-weight: 200;
            margin-bottom: 0;
          }
        }
      }

      .card-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        margin: 2em -1em;

        .link-card {
          width: 18em;
          transition: all .3s;
          padding: 1em;
          &:hover {
            transform: translate(0px, -8px);
          }
          .card-img-top {
            max-width: 16em;
            img {
              max-width: 16em;
              max-height: 14em;
            }
          }
          p {
            color: black;
            margin-top: 1em;
          }
        }
      }
  
      .resourceRow {
        display: flex;
        padding: 2em 0;
        border-bottom: .08em solid $dark-gray;
        .resourceImage {
          position: inline-block;
          width: 20%;
          padding-top: 2em;
          img {
            width: 90%;
          }
        }
        .resourceInfo {
          position: inline-block;
          padding-left: 2em;
          width: 80%;
          h4 {
            padding-top: .18em;
            line-height: 1.2;
          }
          a {
            font-weight: 300;
          }
          p, span {
            font-weight: 200;
          }
        }
      }
  
      .email-us {
        margin-top: 2em;
      }    
    }
  }
  
  .yanFooter {
    width: 100%;
    height: 8em;
    background-color: $dark-gray;
    display: flex;
    vertical-align: middle;
  
    &Text {
      color: #FFFFFF;
      font-size: .8em;
      margin: auto 2em auto auto;
      font-weight: 200;
      letter-spacing: 0.2em;
      max-width: 30%;
    }
  
    img {
      object-fit: contain;
      margin-top: auto;
      margin-bottom: auto;
      display: inline-block;
      padding: .5em 1em;
      height: 80%;
    }
  }
}

/* ------------------ MOBILE ------------------ */
@media only screen and (max-width: 800px) {
  body .contentContainer .mainContent {
    padding: 2em 5em;
  }
}

@media only screen and (max-width: 600px) {
  body {
    .btn { 
      margin: auto 0 auto auto;
      border: 1.75px solid $bb-blue;
      padding: .65em .8em;
    }



    .contentContainer {
      .yanNavbar {
        padding: .75em 1.25em;
        & > .siteTitle {
          margin-top: .25em;
          float: left;
          max-width: 40%;
          & > a {
            font-weight: 500;
            line-height: 1em;
            font-size: 1.1em;
          }
        }
        ul li a {
          font-size: .9em;
          padding-left: 1em;
          letter-spacing: 0.15em;
        }
      }
  
      .mainContent {
        padding: 2em;
        a, span, p.lead {
          font-weight: 300;
        }
        .card-box {
          justify-content: center;
          margin: 0;
        }
        .resourceRow {
          width: 100%;
          border-bottom: .08em solid $dark-gray;
          flex-direction: column;
          .resourceImage {
            margin: auto;
            width: 80%;
            margin-bottom: 1em;
          }
          .resourceInfo {
            position: inline-block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            padding-left: 0;
            h4 {
              padding-top: .18em;
              line-height: 1.2;
            }
            a, p, span {
              font-weight: 300;
            }
          }
          button.toggle-language {
            float: none;
            margin: 0;
            &.show-page {
              margin-top: .5em;
            }
          }
        }
      }

      .yanFooter {
        height: 6em;
        padding: 0 .5em;

        &Text {
          max-width: 60%;
          margin: auto 0 auto auto;
        }

        img {
          padding: .5em;
          height: 70%;
        }
      }
    } 
  }
}
